/* Estilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
height: 100vh;
width: 100%;
display: grid;
place-content: center;
}
.slider {
width: 100vh;
max-width: 1000px;
height: 720;
overflow: hidden;
border-radius: 10px;
}
.slider ul {
display: flex;
padding: 0;
width: 400%;
animation: slide 15s infinite cubic-bezier(0.55 0.48 0.37);

} 
@keyframes slider{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100;}

    45%{margin-left: -100;}

    50% {margin-left: -200;}

    70%{margin-left: -200;}

    75%{margin-left: -300;}
 
    100%{margin-left: -300;}

}